**Задание 1**

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [2]:
import pandas as pd

In [28]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

data = pd.read_csv('keywords.csv')

In [33]:
def geo_position(row):
    geo_location = 'undefined'
    for key in geo_data.keys():
        for i in range(len(geo_data[key])):
            if geo_data[key][i] in row['keyword']:
                geo_location = key
    return geo_location

In [34]:
data['region'] = data.apply(geo_position, axis=1)

In [57]:
data.sort_values('region', ascending=False).head()

                      keyword  shows    geo region
6999                москва 24  37459  Центр  Центр
19120          avto ru москва  15992  Центр  Центр
73226  фанатик спартак москва   5353  Центр  Центр
68005        гостиница москва   5651  Центр  Центр
7090       гисметео ярославль  37008  Центр  Центр

**Задание 2**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг
    - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [45]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings = ratings.groupby('movieId').mean()

In [46]:
def movie_score(row):
    if row['rating'] <= 2:
        movie_score_ = 'Низкий рейтинг'
    if row['rating'] <= 4:
        movie_score_ = 'Средний рейтинг'
    else:
        movie_score_ = 'Высокий рейтинг'
    return movie_score_

In [58]:
ratings['class'] = ratings.apply(movie_score, axis=1)
ratings.sort_values('class').head()

             userId    rating     timestamp            class
movieId
163949   547.000000  5.000000  1.476419e+09  Высокий рейтинг
86817    599.000000  5.000000  1.344135e+09  Высокий рейтинг
26505    547.000000  4.500000  1.261380e+09  Высокий рейтинг
26501    547.000000  5.000000  1.249033e+09  Высокий рейтинг
4821     329.333333  4.333333  1.104783e+09  Высокий рейтинг

**Задание 3**
Посчитайте среднее значение Lifetime киноманов (пользователи, которые поставили 100 и более рейтингов). Под Lifetime понимается разница между максимальным и минимальным значением timestamp для каждого пользователя. 
Ответ дайте в днях.

In [41]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings_filtered = ratings.groupby('userId').count()
ratings_filtered = ratings_filtered[ratings_filtered['timestamp']>100]
ratings_filtered = ratings_filtered.reset_index()
ratings_filtered['userId'].tolist()
film_fans_user = ratings[ ratings['userId'].isin(ratings_filtered['userId'].tolist())]
film_fans_user.head()

     userId  movieId  rating  timestamp
147       4       10     4.0  949810645
148       4       34     5.0  949919556
149       4      112     5.0  949810582
150       4      141     5.0  949919681
151       4      153     4.0  949811346

In [64]:
film_fans_user.groupby('userId').agg(['min', 'max'])['timestamp'].head()

               min         max
userId
4        949778714   949982274
8       1154389340  1154474527
15       997937239  1469330735
17      1127468587  1127476640
19       855190091   855195373

In [58]:
film_fans_user['lifetime'] = film_fans_user['max' - 'min'].apply(lambda x: len(x.split(' ')))
film_fans_user.head()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Не поняла как считать timestamp, когда он в str и совсем несчитабельный :(
    помогите разобраться пожалуйста! С задачей 4 не смогла разобраться совсем :(